# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp
*.save
*.swp
*~

# Конфигурации с паролями
config.php
*.config.php

# Папки зависимостей
/vendor/
/node_modules/

# Папки с документацией и другими лабами
docs/
html/
images/
user/

# Файлы других лабораторных
laba*.php
laba*.php.save
laba*/

# IDE
.vscode/
.idea/
*.sublime-*

# ОС
.DS_Store
